<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Dev Mode</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
      body {
        margin: 20px;
      }
      [data-block] {
        display: none;
      }
      .image {
        max-height: 130px
      }
    </style>
  </head>
  <body>
    <block-element url="https://www.instagram.com/gmaxi_/?__a=1">
      <div data-block="body">
        <div class="m-4 rounded shadow-lg max-w-md p-4 m-auto">
          <div class="flex items-center">
            <img class="rounded-full h-24 w-24 object-cover" v-bind:src="data.graphql.user.profile_pic_url" alt="" />
            <div class="ml-4">
              <h1 class="text-xl font-weight mb-1">@{{ data.graphql.user.username }}</h1>
              <h2 class="text-sm">{{ data.graphql.user.biography }}</h2>
            </div>
          </div>

          <div v-if="data.graphql.user.is_private" class="bg-orange-100 mt-4 border-l-4 border-orange-500 text-orange-700 p-4">
            <p class="font-bold">Private</p>
            <p>This user has a private profile.</p>
          </div>

          <div v-else class="grid grid-cols-3 gap-2 mt-4">
            <div v-for="post in data.graphql.user.edge_owner_to_timeline_media.edges" class="overflow-hidden image">
              <img v-bind:src="post.node.display_url" />
            </div>
          </div>
        </div>
      </div>
    </block-element>

    <script src="../dist/app.js"></script>
  </body>
</html>
